html {
  background: url(https://images.unsplash.com/photo-1583920230213-bdd2d6e7bd50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80)
    center center fixed;
  background-size: contain;
  background-position: top;
}

#title {
  color: aliceblue;
  text-align: center;
  margin-top: -1%;
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  color: rgb(240, 229, 169);
  margin-bottom: 10rem;
}

#title2 {
  color: aliceblue;
  text-align: center;
  margin-top: -3%;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  color: rgb(240, 229, 169);
}

#add-book-button {
  text-align: center;
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  color: rgb(240, 229, 169);
  background-color: rgb(68, 40, 4);
  border: none;
  padding: 10px;
  font-size: 25px;
  border-radius: 50%;
  text-decoration: none;
  outline: none;
  width: 200px;
  font-weight: bolder;
}

.user-button {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: groove;
  background-color: transparent;
  color: rgb(240, 229, 169);
  font-size: 30px;
  display: block;
  box-sizing: border-box;
  max-width: 340px;
}

.user-button:focus {
  outline: none;
}

#user-buttons-container {
  border-radius: 5px;
  background-color: rgb(94, 63, 22);
  padding: 20px;
  text-align: center;
  background-color: hsla(32, 76%, 34%, 0.38);
}

#alreadyRead {
  color: rgb(240, 229, 169);
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  opacity: 1;
}

#submit-button {
  font-family: 'Pacifico', cursive;
  color: rgb(240, 229, 169);
  background-color: rgb(44, 38, 1);
  opacity: 1;
  outline: none;
  text-transform: uppercase;
  font-weight: bolder;
}

::placeholder {
  color: rgb(240, 229, 169);
  opacity: 0.7;
}

#book-title-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 15% 20% 15% 15% 15%;
  grid-template-rows: 50px;
  text-align: center;
}

.books-title {
  color: gold;
  font-size: 17px;
  position: relative;
  /* max-height: 25px; */
  font-weight: bolder;
  align-self: center;
  place-self: center;
}

.eachBook {
  color: white;
  font-size: 15px;
  max-width: 100%;
  word-wrap: break-word;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  place-self: center;
}

#theDiv {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 17px;
}

.fa-trash-o {
  color: #e5e9ea;
  width: 25px;
  height: 25px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: -14px;
}

.fa-trash-o:hover {
  transform: scale(1.5);
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
}

.swith input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(194, 188, 188);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider::before {
  background-color: rgb(250, 214, 13);
}

input:checked + .slider {
  background-color: rgb(243, 233, 178);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(243, 163, 163);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#myForm {
  max-width: 330px;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 430px) {
  #title {
    margin-bottom: 15rem;
  }
}

@media screen and (min-width: 700px) {
  .books-title {
    font-size: 30px;
  }

  .eachBook {
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .books-title {
    font-size: 50px;
  }

  .eachBook {
    font-size: 30px;
  }
}
